/* DropDown 1 */

.dropdown1 {
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
text-decoration: none ;
color: #000000 ;
background-color: #FFFFCC
}

/*
     FILE ARCHIVED ON 00:32:51 Aug 16, 2000 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:05:33 Sep 03, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 784.798 (3)
  esindex: 0.058
  exclusion.robots: 0.13
  RedisCDXSource: 15.348
  load_resource: 68.675
  captures_list: 817.973
  CDXLines.iter: 13.099 (3)
  exclusion.robots.policy: 0.121
  PetaboxLoader3.resolve: 566.951 (3)
  PetaboxLoader3.datanode: 267.124 (4)
*/