




/*
     FILE ARCHIVED ON 14:08:35 oct 13, 2001 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 17:32:42 mar 7, 2017.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
body { font-family: verdana,arial,geneva,helvetica,sans-serif; font-size: 12px; background-color: #ffffff }
td { font-family: verdana,arial,geneva,helvetica,sans-serif; font-size: 12px }
.nav { font-family: verdana,arial,geneva,helvetica,sans-serif; font-size: 9px }
