/* additional/nonstandard styles */

<style type: "text/css">

body { background-color: #ffffff }

/* NAVBAR STYLES */
.navitems { color: #333333 }
.navlink { color: #333333 }

/* TEXT STYLES */
.crumblink { color: #333333 }



/*
     FILE ARCHIVED ON 07:13:46 Jun 07, 2004 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 02:24:24 Oct 25, 2018.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 48.603 (3)
  esindex: 0.005
  captures_list: 64.711
  CDXLines.iter: 9.521 (3)
  PetaboxLoader3.datanode: 357.407 (4)
  exclusion.robots: 0.158
  exclusion.robots.policy: 0.146
  RedisCDXSource: 3.533
  PetaboxLoader3.resolve: 144.041
  load_resource: 458.209
*/