UNKNOWN { FONT: 12px verdana, arial, helvetica, geneva, sans-serif; BACKGROUND-COLOR: 
#ffffff } .navitems { PADDING-LEFT: 4px; FONT-SIZE: 9px; MARGIN-BOTTOM: 10px; 
COLOR: #000000; TEXT-INDENT: -5px; FONT-FAMILY: verdana, arial, helvetica, geneva 
} .navlink { COLOR: #ffffff } .toplinkstext { FONT-SIZE: 8pt; FONT-FAMILY: verdana, 
arial, helvetica, geneva } .captionfont { FONT: italic 10pt verdana, arial, helvetica, 
geneva, sans-serif; COLOR: #0066cc } .crumblink { FONT: 10px arial, verdana, helvetica, 
geneva, sans-serif; COLOR: #ffffff; TEXT-DECORATION: none } TD { FONT: 12px verdana, 
arial, helvetica, geneva, sans-serif } .foottext { FONT-SIZE: 8pt; COLOR: #000000; 
FONT-FAMILY: verdana, arial, helvetica, geneva } .blue { COLOR: #0066cc } .l2title 
{ FONT: bold 10px verdana, arial, helvetica, geneva, sans-serif; COLOR: #000099 
} .l2copy { FONT: 10px verdana, arial, helvetica, geneva, sans-serif; COLOR: #000000 
} .l2linklist { FONT: 10px/14px verdana, arial, helvetica, geneva, sans-serif; 
COLOR: #333333 } .l2linkitem { MARGIN-LEFT: 10px; TEXT-INDENT: -12px } .l3title 
{ MARGIN-TOP: 3px; FONT: bold 13px verdana, arial, helvetica, geneva, sans-serif; 
COLOR: #666666 } H2 { MARGIN-TOP: 10px; FONT: bold 17px verdana, arial, helvetica, 
geneva, sans-serif; COLOR: #333333 } .l3subhead { FONT: bold 12px verdana, arial, 
helvetica, geneva, sans-serif } 
/*
     FILE ARCHIVED ON 07:04:44 Aug 11, 2002 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:00:49 Jul 16, 2018.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 137.247 (3)
  esindex: 0.005
  captures_list: 152.345
  CDXLines.iter: 8.76 (3)
  PetaboxLoader3.datanode: 143.021 (4)
  exclusion.robots: 0.159
  exclusion.robots.policy: 0.137
  RedisCDXSource: 3.694
  PetaboxLoader3.resolve: 60.575
  load_resource: 301.102
*/