




/*
     FILE ARCHIVED ON 1:51:35 oct 25, 2001 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 1:15:28 dic 7, 2016.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/* Netscape for Windows styles */

<style type: "text/css">

body { background-color: #ffffff }

/* NAVBAR STYLES */
.navitems { font-size: 10px; font-family: verdana, arial, helvetica, geneva;
	margin-bottom: 10px; padding-left: 4px; text-indent: -5px; 
	color: #ffffff }
.navlink { color: #ffffff }

.backtotop { font-size: 10px; font-family: verdana, arial, helvetica, geneva; text-decoration: none }

/* TOPLINKS STYLES */
.toplinkstext { font-size: 8pt; font-family: verdana, arial, helvetica, geneva }

/* TEXT STYLES */
.captionfont { font: 10pt verdana, arial, helvetica, geneva, sans-serif; font-style: italic; color: #0066cc }
.crumblink { font: 10px verdana, arial, helvetica, geneva, sans-serif; color: #ffffff; text-decoration: none }
.menulink { font: 10px verdana, arial, helvetica, geneva, sans-serif; color: #ffffff }
td { font-size: 12px; font-family: verdana, arial, helvetica, geneva, sans-serif } 


/* FOOTER STYLES */
.foottext { font-size: 8pt; font-family: verdana, arial, helvetica, geneva; color: #000000 }

.blue { color: #0066cc }

/* STOCK PRICES STYLES */
.stocktitle { font: bold 14pt verdana, arial, helvetica, geneva, sans-serif; color: #ffffff }
.stockdelay { font: 9pt; color: #ffffff }
.stocktitlerow { font: bold 10pt verdana, arial, helvetica, geneva, sans-serif; color: #0066cc }

/* LEVEL 2 STYLES */
.l2title { font: bold 12px verdana, arial, helvetica, geneva, sans-serif; 
			color: #ffffff;
			margin-top: 3px; margin-bottom: 3px }
.l2titleyellow { font: bold 12px verdana, arial, helvetica, geneva, sans-serif; 
			color: #ffff00;
			margin-top: 3px; margin-bottom: 3px }
.l2copy { font: 11px verdana, arial, helvetica, geneva, sans-serif; 
			color: #ffffff }
.l2linklist { font: 10px verdana, arial, helvetica, geneva, sans-serif; 
			color: #ffffff; 
			line-height: 14px }
.l2linkitem { margin-left: 10px; 
			text-indent: -12px }
.workhead {font: 15px verdana, arial, helvetica, geneva, sans-serif; 
			color: #ff9900; 
			margin-top: 10px;
			margin-bottom: 1px;
			font-weight: 900 }

/* LEVEL 3 STYLES */
.l3title { font: bold 16px verdana, arial, helvetica, geneva, sans-serif;
            color: #333333;
            margin-top: 3px }
h2 { font: bold 18px verdana, arial, helvetica, geneva, sans-serif;
            color: #333333; margin-top: -2px }

/* TWEAKS */

p { font-size: 12px; font-family: verdana, arial, helvetica, geneva, sans-serif }
b { font-weight: bold }

/* PERSONIC TWEAKS */

.smalltextarea { font-size: 11px; font-family: verdana,arial,helvetica,geneva,sans-serif }
